@model MOTI.Vector

@{
    ViewBag.Title = "Свойства";
}

<h2>Свойства</h2>

<div>
    <h4>Вектор</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название альтернативы
            <!--@Html.DisplayNameFor(model => model.Alternative.AName)-->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alternative.AName)
        </dd>

        <dt>
            Название оценки
            <!--@Html.DisplayNameFor(model => model.Mark.MName)-->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mark.MName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.IdVect }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
