@model IEnumerable<MOTI.Vector>

@{
    ViewBag.Title = "GetByCriterion";
}

<h2>GetByCriterion</h2>

    <table class="table">
        <tr>
            <th>
                Альтернатива
            </th>
            <th>
                Название Критерия
            </th>
            <th>
                Оценка
            </th>
        </tr>
    @foreach (string alternativeName in ViewBag.AlternativeNames)
    {
        foreach (var item in Model.Where(vect => vect.Alternative.AName == alternativeName))
        {
            <tr>
                <td>
                    @alternativeName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mark.Criterion.CName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mark.MName)
                </td>
            </tr>
        }
    }
    </table>
