@model IEnumerable<MOTI.Alternative>

@{
    ViewBag.Title = "Choose Best";
    String block = "block";
}

<h2 id="SelectingBestHeader">Choose your destiny!</h2>

<div class="container">
    <div class="row selecting-best">
        <div class="field">
            @foreach (var item in Model)
            {
                <div class="block" id="@block@item.IdAlt">
                    <h3>@Html.DisplayFor(modelItem => item.AName)</h3>
                    <table>
                        <tr>
                            <th>Критерий</th>
                            <th>Оценка</th>
                        </tr>
                        @foreach (Vector elem in ViewBag.vectorsOfAlternatives[item.IdAlt])
                        {
                            <tr>
                                <td>@elem.Mark.Criterion.CName</td>
                                <td>@elem.Mark.MName</td>
                            </tr>
                        }
                    </table>
                    <a id="@item.IdAlt" class="btn btn-primary btn-lg select-alt">Выбрать</a>
                </div>
            }
        </div>
        <a class="btn btn-success btn-lg restart-btn" href="">Начать заново</a>
    </div>
</div>


@section Scripts {
    <script>

        $(document).ready(function() {
            var blocks = $(".block");
            blocks.css("display", "none");
            blocks.eq(0).css("display", "flex");
            blocks.eq(1).css("display", "flex");

            var count = 2;
            var arrCur = [blocks.eq(0).attr("id"), blocks.eq(1).attr("id")];

            var buttonsSelect = $(".select-alt");
            buttonsSelect.click(function () {
                var hidedElementId;
                var indexHided;
                for (var i = 0; i < arrCur.length; ++i) {
                    if (arrCur[i] != "block" + this.id) {
                        hidedElementId = arrCur[i];
                        indexHided = i;
                    }
                }

                hidedBlock = $("#" + hidedElementId);
                hidedBlock.css("display", "none");
                blocks.eq(count).css("display", "flex");
                arrCur[indexHided] = blocks.eq(count++).attr("id");

                if (count - 1 == blocks.length)
                {
                    $(this).css("display", "none");
                    $("#SelectingBestHeader").css("text-align", "center");
                    $("#SelectingBestHeader").text("And the winner is");
                }
            });
        });

        

    </script>
}