/* line 5, MainStyle.scss */
.btn {
  border-radius: 0px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all; }

/* line 11, MainStyle.scss */
.form-group input {
  border-radius: 0px; }
/* line 15, MainStyle.scss */
.form-group select {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #cccccc;
  border-radius: 0px; }

/* line 24, MainStyle.scss */
.jumbotron h1 {
  font-size: 43px; }

/* line 29, MainStyle.scss */
.navbar {
  background-color: #434855; }
  /* line 33, MainStyle.scss */
  .navbar .navbar-header a {
    color: #dce6e8;
    border-bottom: 3px solid #434855;
    border-top: 3px solid #434855; }
  /* line 39, MainStyle.scss */
  .navbar .navbar-header .navbar-toggle {
    color: #dce6e8;
    background-color: #428bca;
    border-radius: 0px;
    padding-left: 40px;
    padding-right: 40px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all; }
    /* line 47, MainStyle.scss */
    .navbar .navbar-header .navbar-toggle:hover, .navbar .navbar-header .navbar-toggle:focus {
      background-color: #3276b1; }
  /* line 55, MainStyle.scss */
  .navbar li a {
    color: #dce6e8;
    border-bottom: 3px solid #434855;
    border-top: 3px solid #434855;
    -webkit-transition: 0.5s all;
    transition: 0.5s all; }
    /* line 61, MainStyle.scss */
    .navbar li a:hover, .navbar li a:focus {
      background-color: #333845;
      border-bottom: 3px solid #0072bc; }

/* line 69, MainStyle.scss */
.select-marks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 15px; }
  /* line 78, MainStyle.scss */
  .select-marks span {
    padding: 10px; }

/* line 82, MainStyle.scss */
.disabled {
  display: none; }

/* line 86, MainStyle.scss */
.modal-content {
  border-radius: 0px; }

/* line 90, MainStyle.scss */
.chooser {
  border: 1px solid #cccccc;
  padding: 20px; }
  /* line 95, MainStyle.scss */
  .chooser table td, .chooser table th {
    padding: 10px; }
  /* line 99, MainStyle.scss */
  .chooser table .optim {
    text-align: center; }
  /* line 103, MainStyle.scss */
  .chooser table th {
    text-align: center; }

/* line 109, MainStyle.scss */
.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }
  /* line 115, MainStyle.scss */
  .field .block {
    padding: 10px;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    /* line 121, MainStyle.scss */
    .field .block h3 {
      text-align: center; }
    /* line 125, MainStyle.scss */
    .field .block table {
      width: 100%;
      margin-bottom: 10px; }
      /* line 129, MainStyle.scss */
      .field .block table tr {
        border: 1px solid #cccccc; }
      /* line 133, MainStyle.scss */
      .field .block table td, .field .block table th {
        padding: 5px; }

/* line 140, MainStyle.scss */
.selecting-best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  /* line 146, MainStyle.scss */
  .selecting-best .restart-btn {
    width: 400px; }

/*# sourceMappingURL=MainStyle.css.map */